<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />
<!-- Links -->
<section 
style="
background: rgba( 0, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 5px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    "
 class="links">
    <div class="links-inner">
        <ul>
            <li>
                <h3 style="color:#ff5e14;"><i class="fa fa-info-circle" aria-hidden="true"></i> Links</h3>
            </li>
            <li><a  style="color:white;" href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a style="color:white;" href="/shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Services</a></li>



        </ul>
    </div>
</section>


<footer 
  style="
background: rgba( 0, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 5px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    "
>
    <div class="container py-5">
        <div class="row py-3">
            <!--

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h5 style="color:#ff5e14;" class="text-uppercase font-weight-bold mb-4">Secure PayFast payment</h5>
                <img width="180" alt="logo" [routerLink]="['/']" class="logo" src="/assets/images/payfast.png" />
            </div>-->
 <div class="col-lg-5 col-md-6 mb-lg-0">
                <h5 style="color:#ff5e14;" class="text-uppercase font-weight-bold mb-4">Address</h5>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i><strong> 249 Smit St, CBD, 2000, Joburg,SA.</strong></p>
                 <ul style="color: #ff5e14;" class="list-inline mt-4">
                    <li style="color: #ff5e14;" class="list-inline-item"><a  href="https://twitter.com/TakudzwaM6?s=08" target="_blank" title="twitter"><i
                    style="color: #ff5e14;"
                                class="fab fa-2x fa-twitter text-#ff5e14"></i></a></li>
                    <li class="list-inline-item"><a  href="https://www.facebook.com/profile.php?id=100010630635297" target="_blank" title="facebook"><i
                    style="color: #ff5e14;"
                                class="fab fa-2x fa-facebook-f text-#ff5e14"></i></a></li>
                    <li class="list-inline-item"><a  href="https://www.instagram.com/takum1709/" target="_blank" title="instagram"><i
                    style="color: #ff5e14;"
                                class="fab fa-2x fa-instagram text-#ff5e14"></i></a></li>
                    <li class="list-inline-item"><a  href="https://www.linkedin.com/in/takudzwa-mupanesure-14a3321b7/" target="_blank" title="pinterest"><i
                    style="color: #ff5e14;"
                                class="fab fa-2x fa-linkedin text-#ff5e14"></i></a></li>
                                <li class="list-inline-item"><a  href="https://github.com/Takudzwamz/" target="_blank" ><i
                                style="color: #ff5e14;"
                                class="fab fa-2x fa-github-square text-#ff5e14"></i></a></li>
                </ul> 
            </div>


            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 style="color:#ff5e14;" class="text-uppercase font-weight-bold mb-4">Contact Me</h5>
                <ul class="list-unstyled mb-0">
                    <!---->
                    <li>
                        <p> <i class="fa fa-phone-square" aria-hidden="true"></i><strong> +27 66 321 55 28</strong> </p>
                    </li>

                    <li>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i><strong> mupanesuretwork@gmail.com</strong></p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i><strong> info@takudzwam.live</strong></p>
                        
                    </li>

                </ul>
            </div>


            

           
        </div>
    </div>
    <hr class="p-0 m-0 b-0">
    <div class="taku py-2">
        <div class="container text-center">
            <p class="text-#09052e mb-0 py-2"><i class="fa fa-code" aria-hidden="true"></i> Designed and Created By
                Takudzwa Mupanesure (AKA Sputnik Tech)</p>
            <p class="text-#09052e mb-0 py-2">© Takudzwa Mupanesure, All rights reserved.</p>

        </div>
    </div>
</footer>