

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
  rel="stylesheet"
/>

    <!--================Home Banner Area =================-->
    <section  style="
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
   
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        " class="home_banner_area ">
      <div style="
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        " class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
          <div class="banner_content">
            <div class="media mt-5 mb-5">
              <div class="col-lg-6">
                <!-- Carousel Starts -->
    
                <carousel>
                  <slide>
                    <img src="assets/images/tk2.jpg" alt="first slide" style="display: block; width: 100%;  border-radius:10px;  " />
                  </slide>
                </carousel>
    
                <!-- Carousel End -->
    
              </div>
              <div class="media-body">
                <div class="personal_text">
                  <h6>Hello Everybody, i am</h6>
                  <h3>Takudzwa</h3>
                  <h1>Mupanesure</h1>
                  <h4>Junior .Net full Stack Developer</h4>
                  <p>I'm a .Net full stack developer, I create web and mobile applications. I like what I do and I'm always
                    looking forward to deliver the best looking and functional applications.
                    Hire me lets deliver the best experience to your intended application users/visitors.
                  </p>
                  <ul class="list basic_info">
                    <li><a href="#"><i class="fas fa-calendar-alt"></i> 17 September, 1995</a></li>
                    <li><a href="#"><i class="fas fa-phone"></i> +27 66 321 55 28</a></li>
    
                    <li><a href="#"><i class="fas fa-envelope"></i>mupanesuretwork@gmail.com</a></li>
                    <li><a href="#"><i class="fas fa-map-marked-alt"></i> 2193,Parktown,JHB,SA</a></li>
                  </ul>
                  <ul class="list personal_social">
                    <li><a href="https://www.facebook.com/profile.php?id=100010630635297"><i style="color: #ff5e14;" class="fab  fa-facebook "></i></a></li>
                    <li><a href="https://twitter.com/TakudzwaM6?s=08"><i style="color: #ff5e14;" class="fab  fa-twitter"></i></a></li>
                    <li ><a href="https://www.instagram.com/takum1709/" ><i style="color: #ff5e14;" class="fab  fa-instagram "></i></a></li>
                    <li><a href="https://www.linkedin.com/in/takudzwa-mupanesure-14a3321b7/"><i style="color: #ff5e14;" class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/Takudzwamz/>"><i style="color: #ff5e14;" class="fab fa-github-square"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->
    
    <!--================Welcome Area =================-->
    <section style="
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        " class="welcome_area p_120">
      <div class="container">
        <div class="row welcome_inner">
          <div class="col-lg-6">
            <div class="welcome_text">
              <h4>Professional Summary</h4>
              <p>Dedicated and efficient full stack .NET developer with 2+ years of experience in the .Net environment. Skilled in ASP.NET MVC Core, Xamarin.Forms(Mobile development for both iOS and Android) and client-side web
              development(Angular single page applications). Worked  on 7+ projects for both web and mobile app platforms.
              Developed, deployed  and maintaining over 5 .NET/Xamarin.Forms/Angular web and mobile apps with good client satisfaction. 
              I'm always looking to learn new things all the time for I believe the day I stop learning is the day I stop being innovative. 
              I believe learning by doing is the best way to learn hence I work torwards creating as many projects as I can hence improving my skills. 
              I believe in team work(Hello Github!) since one man can't change the world but two or more people can.</p>
            <ul class="list personal_social">
              <li><i style="color: #ff5e14;" class="fas fa-file-pdf mt-5"></i> <a class="mt-4"
                  href="https://drive.google.com/file/d/1FLmmF9zOphvxV8TQjJ422XHeD44mvSum/view?usp=sharing"><strong> Download My PDF Resume</strong></a></li>
            </ul>
              <ul class="list personal_social">
                 <li><i style="color: #ff5e14;" class="fab fa-github-square mt-5"></i> <a class="mt-4" href="https://github.com/Takudzwamz/"><strong> Check out my GitHub Repositories</strong></a></li>
              </ul>
              <div class="row">
                <div class="col-md-5 mt-4">
                  <div class="wel_item">
                    <i class="lnr lnr-database"></i>
                    <h4>E-commerce</h4>
                    <p>Web Applications</p>
                  </div>
                </div>
                <div class="col-md-5 mt-4">
                  <div class="wel_item">
                    <i class="lnr lnr-book"></i>
                    <h4>Services</h4>
                    <p>Web Applications</p>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="wel_item">
                    <i class="lnr lnr-users"></i>
                    <h4>Android</h4>
                    <p>Mobile Applications</p>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="wel_item">
                    <i class="lnr lnr-users"></i>
                    <h4>iOS</h4>
                    <p>Mobile Applications</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tools_expert">
              <div class="skill_main">
                <div class="skill_item">
                  <h6>.Net Core <span class="counter"></span></h6>
                  <div class="progress_br">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="skill_item">
                  <h6>Angular <span class="counter"></span></h6>
                  <div class="progress_br">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="skill_item">
                  <h6>Xamarin.Forms <span class="counter"></span></h6>
                  <div class="progress_br">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="skill_item">
                  <h6>Git version control, GitHub <span class="counter"></span></h6>
                  <div class="progress_br">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="skill_item">
                  <h6>Microsoft Azure, Digital Ocean(Cloud Computing) <span class="counter"></span></h6>
                  <div class="progress_br">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="skill_item">
                  <h6>C#, TypeScript ,Xaml ,HTML , CSS ,SQL.<span class="counter"></span></h6>
                  <div class="progress_br">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="skill_item">
                  <h6>Shona(Mhoroi!), English(Hello!), Russian Language(Привет!) <span class="counter">, I'm Fluent in all languages</span></h6>
                  <div class="progress_br">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Welcome Area =================-->
    
    <!--================My Tabs Area =================-->
    <section style="
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        " class="mytabs_area p_120">
      <div class="container">
        <div class="tabs_inner">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab"  role="tab" aria-controls="home"
                aria-selected="true">My Education & Experience</a>
            </li>
            
            
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <ul class="list">
                <li>
                  <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>September 2016 to July 2020 </p>
                    </div>
                    <div class="media-body">
                      <h4>B.Sc Fundumental Cumputer Science and IT</h4>
                      <p>Voronezh State University <br />Voronezh Oblast, Russian Federation.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>September 2019 to August 2020</p>
                    </div>
                    <div class="media-body">
                      <h4>Mobile development Intern</h4>
                      <p>DataArt R&D Center Voronezh <br />Voronezh Oblast, Russian Federation</p>
                    </div>
                  </div>
                </li>
                <li>
                  <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>October 2020 to present</p>
                    </div>
                    <div class="media-body">
                      <h4>.Net full stack Developer</h4>
                      <p>Freelancing <br />Johannesburg, South Africa</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <ul class="list">
                <li>
                  <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>March 2017 to present</p>
                    </div>
                    <div class="media-body">
                      <h4>Colorlib</h4>
                      <p>Senior Web Developer <br />Santa monica, Los angeles</p>
                    </div>
                  </div>
                </li>
                <li>
                  <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>March 2017 to present</p>
                    </div>
                    <div class="media-body">
                      <h4>Colorlib</h4>
                      <p>Senior Web Developer <br />Santa monica, Los angeles</p>
                    </div>
                  </div>
                </li>
                <li>
                  <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>March 2017 to present</p>
                    </div>
                    <div class="media-body">
                      <h4>Colorlib</h4>
                      <p>Senior Web Developer <br />Santa monica, Los angeles</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End My Tabs Area =================-->
    
    <!--================Feature Area =================-->
    <section style="
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        " class="feature_area p_120">
      <div class="container">
        <div class="main_title">
          <h2>offerings to my clients</h2>
          <p>Want a services or E-commerce website? Hire me lets work together to give your customer the best online experience. Call me or email me lets talk.</p>
        </div>
        <div class="feature_inner row">
          <div class="col-lg-4 col-md-6">
            <div 
            style="
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        "
            class="feature_item">
              <i class="flaticon-city"></i>
              <h4>E-commerce website</h4>
              <p>Fully responsive website, optimized to work on phone, tablest and computers, complete with shipping services, Online payment gateway integration, pagination, filtering, sorting, Admin panel and more.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
            style="
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        "
            class="feature_item">
              <i class="flaticon-skyline"></i>
              <h4>Services website</h4>
              <p>Fully responsive website, optimized to work on phone, tablest and computers, showcace your services to your clients in a beautiful and user friendly website/web app, comes with an Admin panel and more.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
            style="
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        "
            class="feature_item">
              <i class="flaticon-sketch"></i>
              <h4>Mobile applications</h4>
              <p>Lets create a services or e-commerce mobile apps that run on both Android and iOS, can also come with a website companion to give your customers/clients a choice to use your apps on various platforms. Comes with an Admin panel</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Feature Area =================-->
    
    <!--================Home Gallery Area =================-->
    <section style="
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        " class="home_gallery_area p_120">
      <div class="container">
        <div class="main_title">
          <h2>My Latest Featured Projects</h2>
          <p>These are some of the projects I've created on a proffesional level.</p>
        </div>
      
      </div>
      <div class="container">
        <div class="gallery_f_inner row imageGallery1">
          <div class="col-lg-12 col-md-5 col-sm-9 brand manipul design print">
            <div class="h_gallery_item">
              <div class="g_img_item">
                <!-- Carousel Starts -->
                
                <carousel>
                  <slide>
                    <img src="assets/images/g.png" alt="first slide" style="display: block; width: 100%; " />
                  </slide>
                  <slide>
                    <img src="assets/images/g1.png" alt="first slide" style="display: block; width: 100%" />
                  </slide>
                  <slide>
                    <img src="assets/images/g2.png" alt="first slide" style="display: block; width: 100%; " />
                  </slide>
                  <slide>
                    <img src="assets/images/g3.png" alt="first slide" style="display: block; width: 100%" />
                  </slide>
                  <slide>
                    <img src="assets/images/g4.png" alt="first slide" style="display: block; width: 100%; " />
                  </slide>
                  <slide>
                    <img src="assets/images/g5.png" alt="first slide" style="display: block; width: 100%" />
                  </slide>
                  <slide>
                    <img src="assets/images/g6.png" alt="first slide" style="display: block; width: 100%; " />
                  </slide>
                  <slide>
                    <img src="assets/images/g7.png" alt="first slide" style="display: block; width: 100%; " />
                  </slide>
                  <slide>
                    <img src="assets/images/g8.png" alt="first slide" style="display: block; width: 100%; " />
                  </slide>
                  <slide>
                    <img src="assets/images/g9.png" alt="first slide" style="display: block; width: 100%; " />
                  </slide>
                
                </carousel>
                
                <!-- Carousel End -->
                
              </div>
              <div class="g_item_text">
                <h4>Swift Gas E-commerce web app</h4>
                <p>Client Project</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 align-content-lg-center brand manipul creative">
            <div class="h_gallery_item align-content-lg-center">
              <div class="g_img_item align-content-lg-center">
                  <!-- Carousel Starts -->
                  
                  <carousel>
                    <slide>
                      <img src="assets/images/p.jpg" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/p1.jpg" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/p2.jpg" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/p3.jpg" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/p4.jpg" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/p5.jpg" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/p6.jpg" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/p7.jpg" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/p8.jpg" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/p9.jpg" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/p10.jpg" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/p11.jpg" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                  
                  </carousel>
                  
                  <!-- Carousel End -->
              </div>
              <div class="g_item_text">
                <h4>Swift Gas E-commerce Mobile App</h4>
                <p>Client Project</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-5 col-sm-9 manipul creative design print">
            <div class="h_gallery_item">
              <div class="g_img_item">
                  <!-- Carousel Starts -->
                  
                  <carousel>
                    <slide>
                      <img src="assets/images/h1.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/h2.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/h3.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/h4.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/h5.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/h6.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                   
                  
                  </carousel>
                  
                  <!-- Carousel End -->
              </div>
              <div class="g_item_text">
                <h4>3D Printing studio E-commerce web app</h4>
                <p>Client Project</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-5 col-sm-9 brand creative print">
            <div class="h_gallery_item">
              <div class="g_img_item">
                  <!-- Carousel Starts -->
                  
                  <carousel>
                    <slide>
                      <img src="assets/images/l.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/l1.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/l2.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/l3.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/l4.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/l5.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/l6.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                  
                  </carousel>
                  
                  <!-- Carousel End -->
              </div>
              <div class="g_item_text">
                <h4>Laundry Mart Services web app</h4>
                <p>Client Project</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-5 col-sm-9 brand manipul design">
            <div class="h_gallery_item">
              <div class="g_img_item">
                  <!-- Carousel Starts -->
                  
                  <carousel>
                    <slide>
                      <img src="assets/images/t.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/t1.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/t2.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/t3.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/t4.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/t5.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/t6.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/t7.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/t8.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/t9.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/t10.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    <slide>
                      <img src="assets/images/t11.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                  
                  </carousel>
                  
                  <!-- Carousel End -->
              </div>
              <div class="g_item_text">
                <h4>Tashe Bakery & Biltong E-commerce web app</h4>
                <p>Client Project</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-4 col-sm-9 brand creative">
            <div class="h_gallery_item">
              <div class="g_img_item">
                  <!-- Carousel Starts -->
                  
                  <carousel>
                    <slide>
                      <img src="assets/images/x.png" alt="first slide" style="display: block; width: 100%; " />
                    </slide>
                    <slide>
                      <img src="assets/images/x1.png" alt="first slide" style="display: block; width: 100%" />
                    </slide>
                    
                  
                  </carousel>
                  
                  <!-- Carousel End -->
              </div>
              <div class="g_item_text">
                <h4>Games Information web app</h4>
                <p>Personal Project</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <!--================End Home Gallery Area =================-->
    

    
    
    
    
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script>