* {
    box-sizing: border-box
}

#orange,
select,
.btn {
    color: orange
}

.fa-user-o,
.fa-shopping-cart {
    font-size: 20px;
    padding: 4px
}

.card-body {
    padding: 8px
}

@media(min-width:1200px) {
  .fa-user-o,
    .fa-shopping-cart {
        font-size: 20px;
        padding-left: 20px
    }

    .card {
        width: 300px;
        height: 330px;
        border: none
    }

    .card-img-top {
        width: 299px;
        height: 200px;
        border-radius: 10px
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:992px) and (max-width:1199px) {

    .card {
        width: 200px;
        height: 330px;
        border: none
    }

    .card-img-top {
        width: 200px;
        height: 200px;
        border-radius: 10px
    }

    .fa-plus,
    .fa-minus {
        font-size: 12px
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:768px) and (max-width:991px) {
   

   

   

   

    .card {
        border: none
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:576px) and (max-width:767px) {
   .card {
        border: none
    }

    #sorting span,
    #res {
        font-size: 14px
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(max-width:575px) {

    #sorting,
    #res {
        font-size: 12px;
        margin-top: 2%
    }
}

  //@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif
 }

 .container {
     margin-top: 1px;
     margin-right: 10px;
     position: relative;
     z-index: 100;
     
 }

 #container {
background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
 }
 .container .row .card {
     min-width: 250px;
     max-width: 399px;
     height: 300px;
     margin: 10px;
     
     background: rgba(255, 255, 255, 0.1);
     overflow: hidden;
     backdrop-filter: blur(5px);
     border-top: 1px solid rgba(255, 255, 255, 0.5);
     border-left: 1px solid rgba(255, 255, 255, 0.5);
     border-radius: 15px;
     cursor: pointer;
     position: relative
 }

 .container .row .card .card-body {
     padding: 1rem 1rem;
     color: #fff
 }

 .container .row .card .card-body .card-img img {
     width: 200px;
     height: 200px;
     border-radius: 10px;
     object-fit: fill
 }

 .container .row .card .card-body .name.h5 {
     margin: 0;
     font-size: 1.3rem;
 }

 .container .row .card .card-body .price {
     font-size: 1.3rem;
     font-weight: 700;
     color: gold
 }

.buttons {
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center
}

.cart-button {
    position: relative;
    outline: 0;
    background-color: #ff5e14;
    color: #fff;
    border: none;
    height: 48px;
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    line-height: 0px;
    overflow: hidden;
    cursor: pointer
}



.cart-button:focus {
    outline: none !important
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -20%;
    font-size: 1em;
    transform: translate(-50%, -50%)
}

.cart-button span {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%)
}

.cart-button span.added {
    opacity: 0
}