
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
  rel="stylesheet"
/>

<header>
  <nav
  style="
background: rgba( 0, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    "
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-0"
  >
    <div 
    
    class="container">
    <img width="80" alt="logo" [routerLink]="['/']" class="logo" src="/assets/images/logo.png" />
      
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span  class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a style="font-size: 20px; font-weight:600; text-decoration: none; color:#ff5e14" class="nav-link " [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a style="font-size: 20px; font-weight:600; text-decoration: none; color:#A5FF14"
             class="nav-link text-#ff5e14" [routerLink]="['/shop']"
              >Services</a>
              
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <ng-container *ngIf="currentUser$ | async">
              <div  style="cursor: pointer;">
              
                <strong class=" d-flex align-items-center py-2"
                  style="font-size: 20px; font-weight:600; text-decoration: none; color:#FF1414"
             class="nav-link text-#8D14FF">Hi! {{(currentUser$ | async).displayName}}</strong>
              
                
                
              </div>
            </ng-container>
          
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <ng-container *ngIf="currentUser$ | async">
              <div style="cursor: pointer;">
                <a style="font-size: 20px; font-weight:600; text-decoration: none; color:#14D0FF"
             class="nav-link text-#ff5e14" (click)="logout()"
                  class=" d-flex align-items-center py-2">
                  Logout
                </a>
                
                
              </div>
            </ng-container>
          
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" >
            <a *ngIf="(isAdmin$ | async)" style="font-size: 20px; font-weight:600; text-decoration: none; color:white;margin-top:20px;" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
          
         
          <li>
             <ng-container *ngIf="(currentUser$ | async) === null">
          
            <a style="font-size: 15px;text-decoration: none;
            color: #14B5FF;" class="p-2 mt-3 " routerLink="/account/login"> <i class="fas fa-2x fa-sign-in-alt"></i></a>
          
          
            <a style="font-size: 15px;text-decoration: none;
            color: #A914FF;" class="mt-5 p-2 " routerLink="/account/register"> <i class="fas fa-2x fa-user-plus"></i></a>
          
          
          </ng-container>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>


